* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #85ffbd;
  background-image: linear-gradient(270deg, #85ffbd 0%, #fffb7d 100%);
  height: 100vh;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
}
header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-con {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.input-con input {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 24px;
  text-align: center;
}
.input-con button {
  padding: 8px 12px;
  margin-left: 16px;
  font-size: 22px;
  border: none;
  background-color: #6439ba;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.input-con button:hover {
  background-color: white;
  color: #6439ba;
}
.img-con {
  background-image: url("./assets/magic.png");
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.descriprition-con {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.live-con {
  margin-top: 25px;
  font-weight: 600;
  visibility: hidden;
}
.btn-con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.btn-con button {
  padding: 8px 12px;
  margin-left: 16px;
  font-size: 22px;
  border: none;
  background-color: #6439ba;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.btn-con button:hover {
  background-color: white;
  color: #6439ba;
}
.restart {
  display: none;
}

.guess-text {
  visibility: hidden;
  height: 60px;
  font-size: 24px;
  text-align: center;
}
